@media print {
  @page {
    margin: 0;
    size: A4 landscape;
  }

  html {
    -webkit-print-color-adjust: exact !important;
  }

  .resizer {
    display: none;
  }

  .printButton {
    display: none;
  }

  html {
    height: 200%;
  }

  body {
    height: 100%;
  }
  
  .hiddenBook {
    display: flex;
  }
  
  .book {
    width: 100%;
    height: 100%;
  }
}